! execute xrdb ~/.Xresources after editing the file

! st.font: xft:mononoki Nerd Font:size=9
st.font: mononoki Nerd Font Mono-11

!*fading: 15
!*fadeColor: black

! black
st.color0: #000000
st.color8: #555753
! red
st.color1: #CC0000
st.color9: #EF2929
! green
st.color2: #CDCD60
st.color10: #8AE234
! yellow
st.color3: #C4A000
st.color11: #FCE94F
! blue
st.color4: #3465A4
st.color12: #729FCF
! magenta
st.color5: #75507B
st.color13: #AD7FA8
! cyan
st.color6: #06989A
st.color14: #34E2E2
! white
st.color7: #D3D7CF
st.color15: #EEEEEC

Sxiv.background: #2e3440
Sxiv.font: mononoki Nerd Font Mono-9
