! execute xrdb ~/.Xresources after editing the file

! st.font: xft:mononoki Nerd Font:size=9
st.font: mononoki Nerd Font Mono-11

st.chscale: 1.3
st.alpha: 0.9

! dark+ theme
! black
st.color0: #000000
st.color8: #1C1C1C
! red
st.color1: #DD6666
st.color9: #DB8877
! green
st.color2: #559944
st.color10: #47C20A
! yellow
st.color3: #DDBB77
st.color11: #DDDDAA
! blue
st.color4: #114477
st.color12: #3399DD
! magenta
st.color5: #662277
st.color13: #CC88CC
! cyan
st.color6: #2277AA
st.color14: #5FD7FF
! white
st.color7: #A8A8A8
st.color15: #FFFFFF

Sxiv.background: #2e3440
Sxiv.font: mononoki Nerd Font Mono-9
